
.app-container {
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  width: 100%;
  height: 100vh;
  justify-content: top;
  align-items: center;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: rgb(235, 235, 235);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.button-group {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.main-group{
  display: flex;
  width: 100%;
}

.svg-group{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-group{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 1000px;
}

.loading-group p{
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.132);
  margin-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  padding-top: 15px;
}

.loading-group span{
  background-color: rgba(0, 0, 0, 0.132);
  border-radius: 0px 0px 100px 100px;
}

.sidebar{
  width: 30%;
  background-color: rgb(237, 237, 237);
  border: 2px;
  border-radius: 10px;
}

.inputs-group{
  margin-bottom: 30px;
  justify-content: start;
  display: flex;
  flex-direction: column;
}

.inputs-subgroup{
  display: flex;
  width: 100%;
}

.inputs-subgroup p{
  width: 40%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: end;
}

.inputs-subgroup input{
  width: 60%;
  margin: 5px;
  margin-right: 15px;
  font-size: 15px;
}

.inputs-subgroup .MuiSlider-root .MuiSelect-root {
  width: 60%;
  margin: 5px;
  margin-right: 15px;
}

.inputs-button {
  background-color: rgb(237, 237, 237);
  align-self: center;
  width: 50%;
  margin-top: 40px;
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
}

.info-group{
  padding: 5px;
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 2px;
  border-radius: 10px;
}

.gallery-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-buttons{
  display: flex;
  flex-direction: row;
}

.info-paragraph {
  margin-top: 1rem; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* X in repeat(X, 1fr); means amount of columns */
  gap: 1rem; 
}

.grid-container p{
  margin: 0px;
  margin-bottom: 10px;
}

.grid-container button{
  padding: 2px;
  margin: 0px !important; 
  color: rgb(123, 123, 123);
  background-color: white;
  font-size: 17px;
}

.grid-container button:hover {
  color: black;
  background-color: white;
}

.gallery-container img {
  width: 300px;
  height: 200px;
  margin: 5px;
  object-fit: cover;
  object-position: center;
}

.gallery-container button {
  display: flex;             
  justify-content: center;  
  align-items: center;       
  width: 40px;              
  height: 40px;              
  background-color: #f0f0f0; 
  border: none;            
  border-radius: 50%;   
  cursor: pointer;       
}


h1 {
  margin-top: 30px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  text-align: center;
}

button{
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

button:hover {
  color: #fff;
  background-color: rgb(171, 171, 171);
  cursor:pointer;
}

p{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}